[psql]
host = q_sdb_2
psql_password_type = 1
psql_user = sdbadmin
psql_password = JGtldFIoQ280emFwJkMhaHJyJzVidUNANUQ1MyZ6NHdLPDlm
port = 5432
install_dir = /opt/sequoiasql/postgresql
metastore_name = metastore_guangdong
aim_db=dg4419
cover_psql_table=true

[execute]
interval_time = 1
ignore_error = true
max_retry_times = 5

