[psql]
host = q_sdb_2
psql_password_type = 1
psql_user = sdbadmin
psql_password = JCEldDJDQzM1enkyJkozaFNmJ3V6dWkjNTkmM3pJNDM3PExt
port = 5432
install_dir = /opt/sequoiasql/psql
mysql_install_dir = /opt/sequoiasql/psql
metastore_name = metastore_guangdong
aim_db_names = gz4401,dg4419,shujuzx_public,wxd

[mysql]
mysql_password_type = 1
mysql_user = root
mysql_password = JHkxdHlwQzJ4ek9GJnBzaFpGJ2p0dSV1NVdWM2dDNG5BPGVz

[execute]
interval_time = 5
ignore_error = true
max_retry_times = 5

