[psql]
host = sdbserver1
spark_host=sdbserver1:11810,sdbserver2:11810,sdbserver3:11810
psql_password_type = 1
psql_user = sdbadmin
psql_password = JCEldDJDQzM1enkyJkozaFNmJ3V6dWkjNTkmM3pJNDM3PExt
port = 5432
install_dir = /opt/sequoiasql/psql
from_db_name = ah3400sff3gdb_exam
aim_db_name = gd4401

[execute]
interval_time = 1
ignore_error = true
max_retry_times = 5
